<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<string>A_.glif</string>
		<key>A.sc</key>
		<string>A_.sc.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>B.sc</key>
		<string>B_.sc.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>C.sc</key>
		<string>C_.sc.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>D.sc</key>
		<string>D_.sc.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>E.sc</key>
		<string>E_.sc.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>F.sc</key>
		<string>F_.sc.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>G.sc</key>
		<string>G_.sc.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>H.sc</key>
		<string>H_.sc.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>I.sc</key>
		<string>I_.sc.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>J.sc</key>
		<string>J_.sc.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>K.sc</key>
		<string>K_.sc.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>L.sc</key>
		<string>L_.sc.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>M.sc</key>
		<string>M_.sc.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>N.sc</key>
		<string>N_.sc.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>O.sc</key>
		<string>O_.sc.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>P.sc</key>
		<string>P_.sc.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>Q.sc</key>
		<string>Q_.sc.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>R.sc</key>
		<string>R_.sc.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>S.sc</key>
		<string>S_.sc.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>T.sc</key>
		<string>T_.sc.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>U.sc</key>
		<string>U_.sc.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>V.sc</key>
		<string>V_.sc.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>W.sc</key>
		<string>W_.sc.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>X.sc</key>
		<string>X_.sc.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Y.sc</key>
		<string>Y_.sc.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>Z.sc</key>
		<string>Z_.sc.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.ss01</key>
		<string>a.ss01.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>b.ss01</key>
		<string>b.ss01.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>c.ss01</key>
		<string>c.ss01.glif</string>
		<key>colon</key>
		<string>colon.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>d.copy_1</key>
		<string>d.copy_1.glif</string>
		<key>d.ss01</key>
		<string>d.ss01.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.ss01</key>
		<string>e.ss01.glif</string>
		<key>eight.cap</key>
		<string>eight.cap.glif</string>
		<key>eight.lf</key>
		<string>eight.lf.glif</string>
		<key>eight.osf</key>
		<string>eight.osf.glif</string>
		<key>eight.suffix</key>
		<string>eight.suffix.glif</string>
		<key>ellipsis</key>
		<string>ellipsis.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>exclamdown.cap</key>
		<string>exclamdown.cap.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.ss01</key>
		<string>f.ss01.glif</string>
		<key>five.cap</key>
		<string>five.cap.glif</string>
		<key>five.lf</key>
		<string>five.lf.glif</string>
		<key>five.osf</key>
		<string>five.osf.glif</string>
		<key>five.suffix</key>
		<string>five.suffix.glif</string>
		<key>four.cap</key>
		<string>four.cap.glif</string>
		<key>four.lf</key>
		<string>four.lf.glif</string>
		<key>four.osf</key>
		<string>four.osf.glif</string>
		<key>four.suffix</key>
		<string>four.suffix.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>g.ss01</key>
		<string>g.ss01.glif</string>
		<key>guillemetleft</key>
		<string>guillemetleft.glif</string>
		<key>guilsinglleft</key>
		<string>guilsinglleft.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>h.ss01</key>
		<string>h.ss01.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.ss01</key>
		<string>i.ss01.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.ss01</key>
		<string>j.ss01.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>k.ss01</key>
		<string>k.ss01.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.ss01</key>
		<string>l.ss01.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>m.ss01</key>
		<string>m.ss01.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n.ss01</key>
		<string>n.ss01.glif</string>
		<key>nine.cap</key>
		<string>nine.cap.glif</string>
		<key>nine.lf</key>
		<string>nine.lf.glif</string>
		<key>nine.osf</key>
		<string>nine.osf.glif</string>
		<key>nine.suffix</key>
		<string>nine.suffix.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>o.ss01</key>
		<string>o.ss01.glif</string>
		<key>one.cap</key>
		<string>one.cap.glif</string>
		<key>one.lf</key>
		<string>one.lf.glif</string>
		<key>one.osf</key>
		<string>one.osf.glif</string>
		<key>one.suffix</key>
		<string>one.suffix.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>p.ss01</key>
		<string>p.ss01.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>q.ss01</key>
		<string>q.ss01.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>questiondown.cap</key>
		<string>questiondown.cap.glif</string>
		<key>quotedbl</key>
		<string>quotedbl.glif</string>
		<key>quotedblbase</key>
		<string>quotedblbase.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>quotedblright</key>
		<string>quotedblright.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>quotesinglbase</key>
		<string>quotesinglbase.glif</string>
		<key>quotesingle</key>
		<string>quotesingle.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>r.ss01</key>
		<string>r.ss01.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>s.ss01</key>
		<string>s.ss01.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>seven.cap</key>
		<string>seven.cap.glif</string>
		<key>seven.lf</key>
		<string>seven.lf.glif</string>
		<key>seven.osf</key>
		<string>seven.osf.glif</string>
		<key>seven.suffix</key>
		<string>seven.suffix.glif</string>
		<key>six.cap</key>
		<string>six.cap.glif</string>
		<key>six.lf</key>
		<string>six.lf.glif</string>
		<key>six.osf</key>
		<string>six.osf.glif</string>
		<key>six.suffix</key>
		<string>six.suffix.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>t.copy_1</key>
		<string>t.copy_1.glif</string>
		<key>t.ss01</key>
		<string>t.ss01.glif</string>
		<key>three.cap</key>
		<string>three.cap.glif</string>
		<key>three.lf</key>
		<string>three.lf.glif</string>
		<key>three.osf</key>
		<string>three.osf.glif</string>
		<key>three.suffix</key>
		<string>three.suffix.glif</string>
		<key>two.cap</key>
		<string>two.cap.glif</string>
		<key>two.lf</key>
		<string>two.lf.glif</string>
		<key>two.osf</key>
		<string>two.osf.glif</string>
		<key>two.suffix</key>
		<string>two.suffix.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>u.ss01</key>
		<string>u.ss01.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>v.ss01</key>
		<string>v.ss01.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>w.ss01</key>
		<string>w.ss01.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>x.ss01</key>
		<string>x.ss01.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>y.ss01</key>
		<string>y.ss01.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>z.ss01</key>
		<string>z.ss01.glif</string>
		<key>zero.cap</key>
		<string>zero.cap.glif</string>
		<key>zero.lf</key>
		<string>zero.lf.glif</string>
		<key>zero.lfslash</key>
		<string>zero.lfslash.glif</string>
		<key>zero.osf</key>
		<string>zero.osf.glif</string>
		<key>zero.tosf</key>
		<string>zero.tosf.glif</string>
	</dict>
</plist>
